# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/ipch/f7f2b03780d8e169/mmap_address.bin
.vscode/ipch/f7f2b03780d8e169/MAIN.ipch
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/ipch/ab50a8fac206a758/mmap_address.bin
.vscode/ipch/f06fa82c7a1a1981/mmap_address.bin
.vscode/tasks.json
.vscode/ipch/27eddf1cd7e79858/MAIN_2.ipch
.vscode/ipch/27eddf1cd7e79858/mmap_address.bin
.vscode/ipch/5c4795339737851d/MAIN_MAP.ipch
.vscode/ipch/5c4795339737851d/mmap_address.bin
.vscode/ipch/768d1b5ec044dd95/mmap_address.bin
.vscode/ipch/6c21bbf929ab9784/mmap_address.bin
.vscode/ipch/6906bf7e058f17b7/mmap_address.bin
.vscode/ipch/9818cf3af5eb30ef/mmap_address.bin
.vscode/ipch/9a302f25ff66439f/mmap_address.bin
.vscode/ipch/9a302f25ff66439f/MAIN_SET.ipch
.vscode/ipch/d902063203c49e84/MAIN_VECTOR.ipch
.vscode/ipch/d902063203c49e84/mmap_address.bin
.vscode/ipch/95b95a382a50ca27/mmap_address.bin
.vscode/ipch/9818cf3af5eb30ef/MAIN_LIST.ipch
