# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/ipch/f7f2b03780d8e169/mmap_address.bin
.vscode/ipch/f7f2b03780d8e169/MAIN.ipch
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/ipch/ab50a8fac206a758/mmap_address.bin
